<div th:fragment="detalhesUsuario" class="container mt-5">
    <div class="card shadow p-4" style="background-color: rgba(255, 255, 255, 0.9); color: #333;">
        <h1 class="text-center" style="color: lightblue;">Detalhes do Usuário</h1>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-start">
                <div class="image-container" style="border: 2px solid #8d6e63; border-radius: 50%; overflow: hidden;">
                    <img th:if="${usuario.imagemEmbase64 != null}"
                         th:src="'data:image/jpeg;base64,' + ${usuario.imagemEmbase64}"
                         class="rounded-circle image"
                         style="width: 250px; height: 250px; object-fit: cover;">

                    <img th:if="${usuario.imagemEmbase64 == null}"
                         src="/images/foto_padrao.jpg"
                         class="rounded-circle image"
                         style="width: 250px; height: 250px; object-fit: cover;">
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label style="color: #6d4c41;">Nome</label>
                    <input type="text" class="form-control" th:value="${usuario.nome}" readonly style="background-color: #fdfcfb; border-color: #8d6e63; color: #333;">
                </div>

                <div class="form-group">
                    <label style="color: #6d4c41;">Email</label>
                    <input id="email" type="email" class="form-control" th:value="${usuario.email}" readonly style="background-color: #fdfcfb; border-color: #8d6e63; color: #333;">
                </div>

                <div class="form-group">
                    <label style="color: #6d4c41;">Telefone</label>
                    <input type="text" class="form-control" th:value="${usuario.telefone}" readonly style="background-color: #fdfcfb; border-color: #8d6e63; color: #333;">
                </div>
            </div>
        </div>
    <div class="container">
        <h1 class="text-center mt-4" style="color: lightblue;">Lista de Livros para Empréstimo</h1>
        <input type="text" id="searchBox" class="form-control mb-3" placeholder="Digite o título do livro..." onkeyup="filtrarLivros()" style="background-color: #fdfcfb; border-color: #8d6e63; color: #333;">
        <ul class="list-group">
            <li th:each="livro : ${livros}" class="list-group-item" style="background-color: #fdfcfb; border-color: #8d6e63; color: #333;">
                <label class="d-flex align-items-center stretched-link">
                    <input class="form-check-input me-2" type="checkbox" th:data-id="${livro.id}" th:data-titulo="${livro.titulo}" style="border-color: #8d6e63;">
                    <img th:src="'data:image/jpeg;base64,' + ${livro.CapaEmbase64}" alt="Capa" class="capa-thumbnail me-2" style="border: 2px solid #8d6e63;">
                    <div>
                        <strong th:text="${livro.titulo}" style="color: #6d4c41;"></strong>
                        <p class="mb-0 text-muted" th:text="'Autor: ' + ${livro.autor}" style="color: #8d6e63 !important;"></p>
                        <p class="mb-0 text-muted" th:text="'Editora: ' + ${livro.editora}" style="color: #8d6e63 !important;"></p>
                        <p class="mb-0 text-muted" th:text="'Ano: ' + ${livro.anoPublicacao}" style="color: #8d6e63 !important;"></p>
                        <p class="mb-0 text-muted" th:text="'Disponível: ' + ${livro.quantidadeDisponivel}" style="color: #8d6e63 !important;"></p>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary mt-5" onclick="enviarEmprestimo()" style="background-color: #8d6e63; border-color: #8d6e63; font-weight: 600;">Confirmar Empréstimo</button>
</div>